<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    ">

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:properties/*.properties" ignore-unresolvable="true" />


    <!-- 自动扫描(自动注入) -->
    <context:component-scan base-package="com.business.service" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    <context:component-scan base-package="com.yt.security" >
    </context:component-scan>
    <context:component-scan base-package="com.yt" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    <context:component-scan base-package="com.yt.aop.aspect"  annotation-config="true">
        <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
    </context:component-scan>

    <import resource="classpath*:config/spring-mybatis.xml"></import>
    <!--<import resource="classpath*:config/cache/redis.xml"></import>-->
    <import resource="classpath*:config/spring-security.xml"></import>

</beans>